<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RenamerX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RenamerX.Properties.Settings>
            <setting name="ShowName" serializeAs="String">
                <value />
            </setting>
            <setting name="NameFormat" serializeAs="String">
                <value>$N - S$S2E$E2 - $T</value>
            </setting>
            <setting name="RenameFileFilter" serializeAs="String">
                <value>+.avi|+.mkv|+.srt|+.sub</value>
            </setting>
            <setting name="ShowErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegexpPattern" serializeAs="String">
                <value>s(?&lt;Season&gt;\d+)e(?&lt;Episode&gt;\d+)|(?&lt;Season&gt;\d+)x(?&lt;Episode&gt;\d+)|(?&lt;Season&gt;(?&lt;!2)[01]?\d)(?&lt;Episode&gt;\d{2}(?!\d))</value>
            </setting>
            <setting name="ShowActionMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtractFileFilter" serializeAs="String">
                <value>+.rar|+.r00</value>
            </setting>
            <setting name="ExtractPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UnRARPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchSubFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastRenameFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastExtractFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtractFileSizeFilter" serializeAs="String">
                <value>&gt;10 MiB</value>
            </setting>
            <setting name="GuessShowName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtractOverwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtractPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplaceIllegalChars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReplaceIllegalCharsWith" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplaceSpaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReplaceSpacesWith" serializeAs="String">
                <value />
            </setting>
        </RenamerX.Properties.Settings>
    </userSettings>
</configuration>